<header id="main-header">
    <div id="logo">
      <a href="/">BackMyBusiness</a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/posts">All Notes</a>
        </li>
        <li>
          <a href="/new-post">Create Note</a>
        </li>
      </ul>
    </nav>
  </header>