<article class="post-item">
  <h2>...</h2>
  <p class="post-item-author">By <%= post.author.name %></p>
  <p><%= post.summary %></p>
  <div class="post-actions">
    <button class="btn btn-alt">Delete Note</button>
    <a href="...">Edit Note</a>
    <a class="btn" href="...">View Note</a>
  </div>
</article>